.vote {
    background-color: #5c77928f;
    padding: 5px;
    .vote-img {
        width: 50%;
        margin: 0 auto;
    }
    p {
        font-size: 1.5em;
        margin-bottom: 0px;
        text-align: center;
    }
}