<div>
  <h1>Edit Your Profile </h1>
  <hr>
  <div class="col-md-4">
    <form [formGroup]="userInfoForm" autocomplete="off" (ngSubmit)="saveUserInfo(userInfoForm.value)" novalidate>
      <div class="form-group" >
        <label for="firstName">First Name:</label>
        <input id="firstName" formControlName="firstName" type="text" class="form-control" [ngClass]="{'error':userInfoForm.controls.firstName.invalid && userInfoForm.controls.firstName.touched}" placeholder="First Name..." />
        <div *ngIf="userInfoForm.controls.firstName.invalid && userInfoForm.controls.firstName.touched && userInfoForm.controls.firstName.errors.required" class="invalid-field">
          Required
        </div>
        <div *ngIf="userInfoForm.controls.firstName.invalid && userInfoForm.controls.firstName.touched && userInfoForm.controls.firstName.errors.pattern" class="invalid-field">
          Incorrect pattern
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input id="lastName" type="text" formControlName="lastName" class="form-control" placeholder="Last Name..." />
      </div>

      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-default">Cancel</button>
    </form>
  </div>
</div>