<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form #loginForm="ngForm" (ngSubmit)="submitLoginForm(loginForm.value)" novalidate>
    <div class="form-group">
      <label for="userName">User Name:</label>
      <span *ngIf="userName.invalid  && userName.touched"><em *ngIf="userName.errors.required">Required</em></span>
      <input id="userName" type="text" #userName="ngModel" [ngModelOptions]="{ updateOn: 'blur' }" name="userName" (ngModel)="userInfo.userName" class="form-control" placeholder="User Name..." required
      />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input id="password" type="password" #password="ngModel" (ngModel)="userInfo.password" name="password" class="form-control" placeholder="Password..."
      />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
  </form>
</div>