<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light" id="navBar">
    <a class="navbar-brand" href="#">ngEvents</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/events']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
            true}">All Events
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/events/new']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
            true}">Create Event</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      </ul>
      <form class="form-inline my-2 my-lg-0" (ngSubmit)="searchSession(searchSessionTerm)">
        <input class="form-control mr-sm-2" type="search" [(ngModel)]="searchSessionTerm" name="searchSessionTerm" placeholder="Search"
          aria-label="Search">
        <button class="btn btn-link my-2 my-sm-0 search" type="submit">Search</button>
      </form>
      <ul class="navbar-nav user">
        <li class="nav-item">
          <a class="nav-link" *ngIf="!authService.isAuthenticated()" [routerLink]="['/user/login']" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact:
                true}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="authService.isAuthenticated()" [routerLink]="['/user/profile']" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact:
            true}">Welcome {{authService.currentUser.firstName}}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<ng-template #modalContent>
  <app-modal (closeModalEvent)="closeModal($event)" [modalRef]="modalRef">
    <ul class="list-group modal-list">
      <li class="list-group-item" (click)="closeModal(foundSession.id)" *ngFor="let foundSession of foundSessions">{{foundSession?.name}}</li>
    </ul>
  </app-modal>
</ng-template>








<!-- <button  (click)="closeModal()">test</button> -->

<!-- <ng-template #modalContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-content></ng-content>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template> -->