.row{
    margin-left: 0px;
}

.events-jumbotron {
    background-color: #5c77928f;
    padding: 20px;
    margin: 0px 25px 20px 0px;
    .card-body {
        p {
            margin-bottom: 0px;
            font-size: 1em;
        }
    }
}