@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

body{
    
    background-color: #2b3f53;
}

.wrapper{
    padding-top: 15px;
}

p,h1,h2,h3,h4,h5,h6,div{
    color: #fff;
}

.margin20l{
    margin-left: 20px;
}